<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.1" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_1.xsd">
    <!--Welcome file. Change default page open-->
    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>com.ctms.controller.PaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>com.ctms.controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMovieDetailServlet</servlet-name>
        <servlet-class>com.ctms.controller.ViewMovieDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMovieListServlet</servlet-name>
        <servlet-class>com.ctms.controller.ViewMovieListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewMovieServlet</servlet-name>
        <servlet-class>com.ctms.controller.AddNewMovieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMovieServlet</servlet-name>
        <servlet-class>com.ctms.controller.UpdateMovieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMovieServlet</servlet-name>
        <servlet-class>com.ctms.controller.DeleteMovieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageMovie</servlet-name>
        <servlet-class>com.ctms.controller.ManageMovieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowtimeServlet</servlet-name>
        <servlet-class>com.ctms.controller.ShowtimeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddShowtimeServlet</servlet-name>
        <servlet-class>com.ctms.controller.AddShowtimeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteShowtimeServlet</servlet-name>
        <servlet-class>com.ctms.controller.DeleteShowtimeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateShowtimeServlet</servlet-name>
        <servlet-class>com.ctms.controller.UpdateShowtimeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingScheduleServlet</servlet-name>
        <servlet-class>com.ctms.controller.BookingScheduleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/PaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>WebhookServlet</servlet-name>
        <servlet-class>com.ctms.controller.WebhookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WebhookServlet</servlet-name>
        <url-pattern>/WebhookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/HomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMovieDetailServlet</servlet-name>
        <url-pattern>/ViewMovieDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMovieListServlet</servlet-name>
        <url-pattern>/ViewMovieListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewMovieServlet</servlet-name>
        <url-pattern>/AddNewMovieServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMovieServlet</servlet-name>
        <url-pattern>/UpdateMovieServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMovieServlet</servlet-name>
        <url-pattern>/DeleteMovieServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageMovie</servlet-name>
        <url-pattern>/ManageMovie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowtimeServlet</servlet-name>
        <url-pattern>/ShowtimeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddShowtimeServlet</servlet-name>
        <url-pattern>/AddShowtimeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteShowtimeServlet</servlet-name>
        <url-pattern>/DeleteShowtimeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateShowtimeServlet</servlet-name>
        <url-pattern>/UpdateShowtimeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingScheduleServlet</servlet-name>
        <url-pattern>/BookingScheduleServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <!--Servlet Mapping-->
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>com.ctms.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profileServlet</servlet-name>
        <servlet-class>com.ctms.controller.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>com.ctms.controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>com.ctms.controller.PaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WebhookServlet</servlet-name>
        <servlet-class>com.ctms.controller.WebhookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>com.ctms.controller.PaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WebhookServlet</servlet-name>
        <servlet-class>com.ctms.controller.WebhookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profileServlet</servlet-name>
        <url-pattern>/profileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <!-- Declare the filter -->
    <!-- Login Filter -->
    <!-- Role for employee -->
    <filter>
        <filter-name>EmployeeAuthFilter</filter-name>
        <filter-class>com.ctms.filter.AuthFilter</filter-class>
        <init-param>
            <param-name>role</param-name>
            <param-value>employee</param-value>
        </init-param>
    </filter>
    <!-- Role for customer -->
    <filter>
        <filter-name>CustomerAuthFilter</filter-name>
        <filter-class>com.ctms.filter.AuthFilter</filter-class>
        <init-param>
            <param-name>role</param-name>
            <param-value>customer</param-value>
        </init-param>
    </filter>
    <!-- Map the filter to the URL and list the protected page -->
    <filter-mapping>
        <filter-name>EmployeeAuthFilter</filter-name>
        <url-pattern>/employee/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CustomerAuthFilter</filter-name>
        <url-pattern>/customer/profile.jsp</url-pattern>
    </filter-mapping>
</web-app>
